<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container ">
    
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main class="text-bg-primary p-5 rounded-2 mt-2  mb-4">
        <div>
            <h1>Sobre mim</h1>
            <p>Oi, sou Gustavo, estudande de desenvolvimento web.</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>